---
// @ts-nocheck
import Layout from '@/layouts/Layout.astro';
import PagefindConfig from 'astro-pagefind/components/PagefindConfig.astro';
---

<Layout title="stelladb" pagefindIgnore={true}>
    <div class="center">
        <div class="main">
            <div class="text">
                <h1>a <a style="color: var(--accent)" href="https://stellasora.global/">stella sora</a> database</h1>
                <p id="kv-text"></p>
            </div>

            <PagefindConfig />
            <pagefind-searchbox placeholder="Search..." autofocus="true" shortcut="/" data-pf-theme="dark">
                <Fragment
                    set:html={`
                    <script type="text/pagefind-template">
                        <a class="pf-searchbox-result" id="{{ aria.result_id }}" href="{{ meta.url | default(url) | safeUrl }}" role="option" aria-selected="false" aria-labelledby="{{ aria.title_id }}"{{#if excerpt}} aria-describedby="{{ aria.excerpt_id }}"{{/if}}>
                            <img class="pf-searchbox-result-image" src="{{ meta.image | default('https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/datingeventcg/DatingSPCG_156302.webp') | safeUrl }}" alt="{{ meta.title | default('Untitled') }}" width="64" height="64" loading="lazy" />
                            <div class="pf-searchbox-result-content">
                                <p class="pf-searchbox-result-title" id="{{ aria.title_id }}">{{ meta.title | default("Untitled") }}</p>
                                {{#if excerpt}}
                                <p class="pf-searchbox-result-excerpt" id="{{ aria.excerpt_id }}">{{+ excerpt +}}</p>
                                {{/if}}
                            </div>
                        </a>
                    </script>
                    <script type="text/pagefind-template" data-template="placeholder">
                        <div class="pf-searchbox-result pf-searchbox-placeholder" aria-hidden="true">
                            <p class="pf-searchbox-result-title pf-skeleton pf-skeleton-title"></p>
                            <p class="pf-searchbox-result-excerpt pf-skeleton pf-skeleton-excerpt"></p>
                        </div>
                    </script>
                `}
                />
            </pagefind-searchbox>
        </div>

        <img class="nazuna" alt="Nazuna" title="Nazuna" width="320" height="320" />

        <div class="time-machine">
            <a href="https://stelladb.pages.dev/">latest</a>
            <a href="https://bfa995a6.stelladb.pages.dev/">v1.9</a>
            <a href="https://ccf205c4.stelladb.pages.dev/">v1.8</a>
            <a href="https://5993e144.stelladb.pages.dev/">v1.7</a>
            <a href="https://d7422ec5.stelladb.pages.dev/">v1.6</a>
            <a href="https://674e026f.stelladb.pages.dev/">v1.5</a>
            <a href="https://e0b7d670.stelladb.pages.dev/">v1.4</a>
            <a href="https://398c0756.stelladb.pages.dev/">v1.3</a>
            <a href="https://b6bb5f31.stelladb.pages.dev/">v1.2</a>
            <a href="https://5076c69f.stelladb.pages.dev/">v1.1</a>
        </div>
    </div>
</Layout>

<script>
    // @ts-nocheck
    const timeEls = document.querySelectorAll('.time');

    timeEls.forEach((el) => {
        const time = new Date(el.dataset.time);
        el.textContent = formatRelativeDay(time);
        setInterval(() => {
            el.textContent = formatRelativeDay(time);
        }, 1000);
    });

    function formatRelativeDay(time) {
        const now = new Date();
        const diffTime = now - time;
        const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));

        return diffDays;
    }

    const audio = new Audio('/fufufu.mp3');
    let isPlaying = false;

    audio.addEventListener('ended', () => {
        isPlaying = false;
        audio.currentTime = 0;
    });

    const nazunaEl = document.querySelector('.nazuna');
    if (nazunaEl) {
        nazunaEl.src = `/nazuna${Math.ceil(Math.random() * 16)
            .toString()
            .padStart(2, '0')}.gif`;

        nazunaEl.addEventListener('click', () => {
            if (isPlaying) return;
            isPlaying = true;
            audio.currentTime = 0;
            audio.play();
        });
    }
</script>

<style>
    .center {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100dvh - 2 * var(--nav-height) - 1px);

        .main {
            align-items: center;
            margin-bottom: 1rem;
            width: 100%;
            text-align: center;

            #kv-text:not(:empty) {
                margin-bottom: 1rem;
            }
        }

        h1 {
            margin: 0.25rem 0;
            font-size: 3.6rem;
        }

        p {
            margin: 0.25rem 0;
            font-size: 1.35rem;
        }

        img {
            vertical-align: middle;
            object-fit: cover;
            object-position: center;
        }
    }

    .time-machine {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;

        a {
            padding: 0.1rem 0.5rem;
        }
    }
</style>

<style is:global>
    :is(*, #\#):is(*, #\#):is(*, #\#) .pf-searchbox {
        --pf-text: var(--text);
        --pf-text-secondary: var(--muted);
        --pf-text-muted: var(--muted);
        --pf-background: var(--bg);
        --pf-border: var(--muted);
        --pf-border-focus: var(--accent);
        --pf-outline-focus: var(--accent);
        --pf-skeleton: var(--bg2);
        --pf-skeleton-shine: var(--bg3);
        --pf-hover: var(--bg2);
        --pf-mark: var(--accent);
        --pf-font: Inter, 'Segoe UI', Arial, system-ui, sans-serif;
        --pf-input-height: 3rem;
        --pf-input-font-size: 1.25rem;
        --pf-searchbox-max-width: 50rem;
        --pf-searchbox-dropdown-max-height: 25rem;
        display: block;
        margin: 0 auto;
        color-scheme: only dark;

        .pf-searchbox-input-wrapper {
            &::before {
                inset-inline-start: 16px;
            }

            .pf-searchbox-input {
                padding-inline-start: 40px;
            }

            .pf-trigger-shortcut {
                inset-inline-end: 16px;
            }
        }

        .pf-searchbox-dropdown {
            .pf-searchbox-results {
                &:empty {
                    display: none;
                }

                .pf-searchbox-result {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    padding: 0.5rem;
                    overflow: hidden;

                    .pf-searchbox-result-image {
                        flex-shrink: 0;
                        border-radius: 4px;
                        width: 64px;
                        height: 64px;
                        object-fit: cover;
                        object-position: top;
                    }

                    .pf-searchbox-result-content {
                        .pf-searchbox-result-title {
                            font-size: 1rem;
                        }

                        .pf-searchbox-result-excerpt {
                            max-height: 2.5rem;
                            font-size: 0.9rem;
                            white-space: normal;
                        }
                    }
                }
            }

            .pf-searchbox-empty {
                padding: 1rem;
                font-size: 1rem;
            }

            .pf-searchbox-footer {
                .pf-searchbox-footer-hint {
                    font-size: 0.8rem;

                    .pf-searchbox-footer-key {
                        min-width: 20px;
                        height: 18px;
                        font-size: 11px;
                    }
                }
            }
        }
    }
</style>
