---
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title="stelladb">
    <div class="center">
        <div class="text">
            <h1>a <a style="color: var(--accent)" href="https://stellasora.global/">stella sora</a> database</h1>
            <p id="kv-text"></p>
        </div>

        <img class="nazuna" alt="Nazuna" title="Nazuna" width="320" height="320" />

        <div class="time-machine">
            <a href="https://stelladb.pages.dev/">latest</a>
            <a href="https://ccf205c4.stelladb.pages.dev/">v1.8</a>
            <a href="https://5993e144.stelladb.pages.dev/">v1.7</a>
            <a href="https://d7422ec5.stelladb.pages.dev/">v1.6</a>
            <a href="https://674e026f.stelladb.pages.dev/">v1.5</a>
            <a href="https://e0b7d670.stelladb.pages.dev/">v1.4</a>
            <a href="https://398c0756.stelladb.pages.dev/">v1.3</a>
            <a href="https://b6bb5f31.stelladb.pages.dev/">v1.2</a>
            <a href="https://5076c69f.stelladb.pages.dev/">v1.1</a>
        </div>
    </div>

    <div class="petal-bloom">
        <a href="/trekker/156" title="Nazuna">
            <Image src="https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/head/head_15601_Q.webp" alt="Nazuna" title="Nazuna" width="200" height="200" densities={[1.25]} />
        </a>
        <a href="/trekker/134" title="Fuyuka">
            <Image src="https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/head/head_13401_Q.webp" alt="Fuyuka" title="Fuyuka" width="200" height="200" densities={[1.25]} />
        </a>
        <a href="/trekker/133" title="Nazuka">
            <Image src="https://raw.githubusercontent.com/AutumnVN/ssassets/refs/heads/main/export/assets/assetbundles/icon/head/head_13301_Q.webp" alt="Nazuka" title="Nazuka" width="200" height="200" densities={[1.25]} />
        </a>
    </div>
</Layout>

<script>
    // @ts-nocheck
    const timeEls = document.querySelectorAll('.time');

    timeEls.forEach((el) => {
        const time = new Date(el.dataset.time);
        el.textContent = formatRelativeDay(time);
        setInterval(() => {
            el.textContent = formatRelativeDay(time);
        }, 1000);
    });

    function formatRelativeDay(time) {
        const now = new Date();
        const diffTime = now - time;
        const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));

        return diffDays;
    }

    const audio = new Audio('/fufufu.mp3');
    let isPlaying = false;

    audio.addEventListener('ended', () => {
        isPlaying = false;
        audio.currentTime = 0;
    });

    const nazunaEl = document.querySelector('.nazuna');
    if (nazunaEl) {
        nazunaEl.src = `/nazuna${Math.ceil(Math.random() * 16)
            .toString()
            .padStart(2, '0')}.gif`;

        nazunaEl.addEventListener('click', () => {
            if (isPlaying) return;
            isPlaying = true;
            audio.currentTime = 0;
            audio.play();
        });
    }
</script>

<style>
    .center {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100dvh - 2 * var(--nav-height));

        .text {
            align-items: center;
            margin-bottom: 1rem;
            text-align: center;
        }

        h1 {
            margin: 0.25rem 0;
            font-size: 3.6rem;
        }

        p {
            margin: 0.25rem 0;
            font-size: 1.35rem;
        }

        img {
            vertical-align: middle;
            object-fit: cover;
            object-position: center;
        }
    }

    .time-machine {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;

        a {
            padding: 0.1rem 0.5rem;
        }
    }

    .petal-bloom {
        display: flex;
        position: absolute;
        right: 0;
        bottom: var(--nav-height);
        overflow: hidden;

        a {
            width: 120px;
        }

        img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            pointer-events: none;
        }
    }
</style>
